div {
  background-color: rgb(170, 150, 134);
}

#div1 {
  margin: 15px;
  padding: 15px;
  background-color: rgb(170, 150, 134);
}

#div2 {
  margin: 15px;
  padding: 15px;
  background-color: rgb(170, 150, 134);
}

#div3 {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(150, 101, 75);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #7c513f;
}
